.list-AddSongToList {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.5s, background-color 0.3s, transform 0.3s;
}

.image-AddSongToList {
  width: 50px;
  height: 50px;
  margin-right: 1.5em;
}

.image-AddSongToList img {
  width: 100%;
  /* border-radius: 50%; */
  height: 100%;
  object-fit: cover;
}

.content-AddSongToList {
  flex-grow: 1;
}

.name-AddSongToList {
  font-weight: 600;
  font-size: 17px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 5px;
  text-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);
}

.artist-AddSongToList {
  font-size: 17px;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 1em;
  text-shadow: 2px 2px 14px rgba(0, 0, 0, 0.5);
}

.description-AddSongToList {
  font-size: 17px;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 1em;
  text-shadow: 2px 2px 14px rgba(0, 0, 0, 0.5);
}

.play-button {
  background: linear-gradient(to bottom, #054a0a, #121212);
  padding: 1.5em;
}
