/* COntenedor - Barra Lateral */
.container-Sidebar {
  background-color: #000;
  padding: 0.5em 0 0.5em 0.5em;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Tamaño y margen de Iconos */
.icon-margin {
  font-size: 24px;
  margin-right: 10px;
}

.blockOne {
  border-radius: 10px;
  background-color: #121212;
}

.blockTwo {
  flex: 1;
  overflow-y: auto;
  position: relative;
  border-radius: 10px;
  background-color: #121212;
}

/* Modificar el color y el ancho del scrollbar vertical en .container-Sidebar */
.blockTwo::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar vertical */
}

.blockTwo::-webkit-scrollbar-thumb {
  background-color: #2b2b2b; /* Color del thumb del scrollbar */
}

.blockTwo::-webkit-scrollbar-thumb:hover {
  background-color: #444; /* Color del thumb al pasar el mouse */
}

/* Cerrar sesión */
.sing-off {
  padding: 15px 17px;
  color: #fff;
  display: flex;
  align-items: center;
  opacity: 0.6;
  cursor: pointer;
}

.sing-off:hover {
  opacity: 1;
}

.icon-signOff {
  color: #888;
  background-color: #000;
  border-radius: 50%;
  padding: 2px;
}

/* Inicio */
.go-home {
  padding: 15px 17px;
  color: #fff;
  display: flex;
  align-items: center;
  opacity: 0.6;
  cursor: pointer;
}

.go-home:hover {
  opacity: 1;
}

.icon-goHome {
  padding: 2px;
}

/* Tu biblioteca */
.bookshop {
  padding: 15px 17px;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;

  top: 0;
  z-index: 1;
  position: sticky;
  border-radius: 10px 10px 0 0;
  background-color: #161616;
}

.icon-bookshop {
  padding: 2px;
}

.content-bookshop {
  display: flex;
  align-items: center;
  color: #fff;
  opacity: 0.6;
}

.content-bookshop:hover {
  opacity: 1;
}

/* Buscar canción */
.search-bar {
  padding: 15px 17px;
  color: #fff;
  display: flex;
  align-items: center;
}

/* Subir canción */
.uploadSong {
  padding: 15px 17px;
  color: #fff;
  display: flex;
  align-items: center;
  opacity: 0.6;
  cursor: pointer;
}

.uploadSong:hover {
  opacity: 1;
}

.icon-uploadSong {
  background-color: #000;
  border-radius: 50%;
  padding: 2px;
}

/* Suscribete */
.to-subscribe {
  padding: 15px 17px;
  color: #fff;
  display: flex;
  align-items: center;
  opacity: 0.6;
  cursor: pointer;
}

.to-subscribe:hover {
  opacity: 1;
}

.icon-toSubscribe {
  padding: 2px;
}


/* Crear lista de reproduccion (playlist) */
.createPlaylist {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  background-color: #242424;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.createPlaylist h1 {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.createPlaylist p {
  font-size: 17px;
  color: #fff;
  margin-bottom: 10px;
}

.button-CreatePlaylist {
  width: auto;
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: 17px;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 100px;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
  margin-bottom: 10px;
}

.button-CreatePlaylist:hover {
  background-color: #1db954;
  text-decoration: none;
}

/* Filtre por genero */
.filter-by-gender {
  margin: 1em;
  background-color: #242424;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.filter-by-gender h1 {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.filter-by-gender p {
  font-size: 17px;
  color: #fff;
  margin-bottom: 10px;
}


