.container-SongList {
  background-color: transparent;
  overflow: hidden;
}

table {
  text-align: left;
  background-color: transparent;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0px;
  padding: 1em;
}

th,
td {
  padding: 1em;
  text-align: left;
  color: #fff;
}

th {
  cursor: default;
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Aplicar efecto hover solo a las filas de datos */
tr.data-row:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-played {
  padding: 0;
  margin: 0;
}