html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-userProfile {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.sidebar-container {
  flex: 1;
  max-width: 25%;
  height: 100%;
}

.songs-cards-container {
  background-color: #000;
  padding: 1em;
  margin: 0;
  flex: 2;
  height: 100%;
}

.songPlayer {
  background-color: #121212;
  padding: 1em;
}
