.container-entryLanding {
  overflow: hidden;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0)),
    url("/images/pexels-photo.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-Team{
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0)),
    url("/images/bg7.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  margin-top: 5rem;
}

.entryLanding-text-and-button {
  width: 50%;
  text-align: left;
  margin-top: 16em;
  margin-bottom: 15em;
  margin-left: 7em;
  line-height: 1.2;
}

.welcome-text {
  font-size: 75px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
  text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
}

.text-paragraph {
  font-size: 30px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 1.5em;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.home-button {
  display: inline-block;
  padding: 15px 55px;
  border-radius: 3px;
  background-color: #00b44b;
  text-decoration: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  margin: 0;
}

.home-button:hover {
  background-color: #54e360;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.home-button span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.home-button:hover span {
  color: #fff;
}

.entryLanding-image {
  max-width: 50%;
  height: auto;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  .container-landing-page {
    align-items: center;
  }

  .entryLanding-text-and-button {
    width: 100%;
    text-align: left;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 13em;
    margin-bottom: 7em;
  }

  .welcome-text {
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 15px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  }

  .text-paragraph {
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 1em;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .home-button span {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
  }

  .home-button {
    display: inline-block;
    padding: 10px 35px;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    margin: 0;
  }

  .home-button span {
    font-size: 14px;
  }
}


/* Estilos para pantallas medianas, como tabletas y algunas pantallas de escritorio */
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .container-entryLanding {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    padding-top: 4em;
    padding-bottom: 4em;
  }


  .entryLanding-text-and-button {
    width: 50%;
    text-align: left;
    margin-top: 8em;
    margin-bottom: 9em;
    margin-left: 7em;
  }


  .welcome-text {
    font-size: 65px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 30px;
    text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
  }
  
  .text-paragraph {
    font-size: 25px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 1.5em;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
}
