.container-featured {
  /* height: 700px; */
  display: flex;
  overflow: hidden; 
  background: #000;
  align-items: center;
  justify-content: space-between;
  padding: 10em 3rem;
  gap: 10px;
}

.featured-subContainer {
  text-align: left;
  padding-left: 3em;
  width: 50%;
}

.featured-title {
  color: #FFF;
  font-size: 40px;
  text-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
}

.featured-paragraph {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
}

.featured-cards {
  gap: 10px;
  width: 50%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.random-image {
  height: auto;
  max-width: 32%;
  margin-right: 9%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  transform: scaleX(-1);
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 900px) {
  .container-featured {
    flex-direction: column; /* Cambiar la dirección de flex a columna */
    padding: 3rem; /* Reducir el espaciado */
  }

  .featured-subContainer {
    padding: 0;
    width: 100%;
    text-align: left; /* Centrar el texto */
  }

  .featured-subContainer p {
    width: 100%;
    text-align: justify; /* Centrar el texto */
  }

  .featured-cards {
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* Estilos para las tarjetas en dispositivos móviles */
  .featured-cards .swiper-slide {
    max-width: 100%;
    padding: 3em;
  }
}

/* Estilos para pantallas medianas, como tabletas */
@media screen and (min-width: 901px) and (max-width: 1051px) {
  .container-featured {
    padding: 5rem; /* Aumentar el espaciado */
  }

  .featured-cards {
    justify-content: space-between; /* Espaciado uniforme entre las tarjetas */
  }
}
