nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #fff; /* Texto blanco por defecto */
  font-size: 17px;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: background-color 0.3s ease;
}

nav div {
  display: flex;
  align-items: center;
}

/* Estilos para NavBar cuando se hace scroll */
nav.scrolling {
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(3px);
  color: #000000; /* Cambiar el color del texto a negro */
}

/* Estilo para las opciones en la navegación cuando se hace scroll en estado hover */
nav.scrolling .menu-option:hover {
  background-color: #0000001d;
  border-radius: 10px;
  padding: 20px;
}

.logo-nav {
  width: 55px;
  height: auto;
  padding: 0px;
  margin-left: 100px;
  margin-right: 10px;
}

.title-logo {
  font-size: 20px;
  font-weight: 600;
}

.menu-nav {
  margin-right: 100px;
  gap: 10px;
}

.menu-option {
  width: auto;
  cursor: pointer;
  border: none;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  background: transparent;
  transition: background-color 0.3s ease;
}

.menu-option:hover {
  background-color: #6c6b6b45;
  border-radius: 10px;
  padding: 20px;
}

.contact-option {
  width: auto;
  cursor: pointer;
  border: none;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  background: transparent;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.contact-option:hover {
  background-color: #6c6b6b45;
  border-radius: 10px;
  padding: 20px;
  text-decoration: underline;
}

/* Estilo para el enlace "Contáctenos" cuando se hace scroll */
nav.scrolling .scrolling-contact-option {
  color: #000; /* Cambia el color del texto a negro cuando se haga scroll */
  margin-right: 20px;
}

/* * Estilo para el menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilo para el contenido del menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 5px;
  min-width: 100px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Estilo para los enlaces dentro del menú desplegable */
.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

/* Muestra el menú desplegable cuando se pasa el mouse sobre la opción */
.dropdown:hover .dropdown-content {
  display: block;
}

/* * iniciar sesión*/
.accessTo-option {
  text-align: center;
  color: #fff;
  font-size: 17px;
  padding: 15px 30px;
  background-color: #000000;
  border-radius: 100px;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
  margin: 0;
}

.accessTo-option:hover {
  background-color: #1db954;
  text-decoration: none;
}

/* Estilos para pantallas pequeñas, como teléfonos */
@media screen and (max-width: 767px) {
  nav {
    padding: 0;
    font-size: 14px;
    flex-direction: column; /* Cambia la dirección del flexbox a columna para apilar los elementos */
    align-items: center; /* Centra los elementos verticalmente */
  }

  .logo-container {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .menu-nav {
    margin: 0; /* Añade espacio entre los elementos del menú en pantallas pequeñas */
    gap: 3px;
  }

  .menu-option {
    padding: 10px; /* Reduce el espacio entre las opciones del menú en pantallas pequeñas */
    text-align: center; /* Centra el texto de las opciones del menú */
  }

  .menu-option:hover {
    padding: 10px;
  }

  .title-logo {
    margin: 10px 0; /* Añade espacio entre el logo y el título en pantallas pequeñas */
    text-align: center; /* Centra el título en pantallas pequeñas */
  }

  .logo-nav {
    margin-left: 0;
    width: 40px;
  }

  .accessTo-option-h {
    border-radius: 15px;
  }

  /* Estilo para las opciones en la navegación cuando se hace scroll en estado hover */
  nav.scrolling {
    padding: 0;
  }
}

/* Estilos para pantallas medianas, como tabletas y algunas pantallas de escritorio */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-nav {
    margin-right: 20px; /* Añade espacio entre los elementos del menú en pantallas medianas */
  }

  .logo-container {
    margin: 20px 0; /* Añade espacio entre el logo y el menú en pantallas pequeñas */
  }

  .logo-nav {
    width: 55px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-right: 70px;
  }

  .title-logo {
    font-size: 18px; /* Ajusta el tamaño de la fuente del título si es necesario */
    margin-right: 100px;
  }
}
