.container-ourPlans {
  padding: 10em 3em 10em 3em;
  background: linear-gradient(to top, #000000, #27272c, #000000);
}

.seccion-ourPlans {
  display: flex;
  justify-content: center;
  gap: 50px; /* Espacio entre las tarjetas */
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten en múltiples filas si es necesario */
}

.title-ourPlans {
  font-size: 50px;
  text-align: center;
  color: #fff;
  margin-bottom: 2em;
}

.plan {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #11413e;
  text-align: left;
  border-radius: 7px;
  border: 1px solid transparent;
  margin: 0;
  background: linear-gradient(
    0.32deg,
    rgba(26, 139, 133, 0.98) 0.2%,
    rgba(96, 212, 206, 0.98) 99.7%
  );
  transition: box-shadow 0.5s, background-color 0.3s, transform 0.3s;
}

.plan-benefits {
  width: 100%;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  border-radius: 7px;
  background-color: #87d4d0;
  padding: 20px;
}

.plan h1 {
  font-size: 25px;
}

.plan p {
  font-size: 17px;
}

/* ...  ... */

.backToMain-button {
  flex-grow: 1;
  font-size: 17px;
  padding: 15px 45px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0 0 7px 7px;
  text-decoration: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
  width: 100%;
}

.plan-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.backToMain-button:hover {
  background-color: #2ab595;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
