.slider-phraseBoxes {
  width: auto;
  height: auto;
  padding: 10em 3em 10em 3em;
  background: #000;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  .slider-phraseBoxes {
    padding: 5em 2em 5em 2em;
  }
}
