.footer-login {
  background-color: transparent;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  text-align: center;
}

.footer-text {
  margin: 0;
  color: white;
}

.footer-container {
  padding-top: 3em;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 17px;
}

.footer-section p {
  color: #9b9b9b;
  margin: 0; 
  margin-bottom: 20px;
}

.footer-section a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;
  color: white;
}

.footer-section a:hover {
  color: white;
  text-decoration: underline;
}

.footer-line {
  border: 1px solid #1c2026; 
  margin: 0px 0; 
}

.footer-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5em;
  padding-bottom: 2em;
}

.logo-footer {
  width: 25px;
  height: auto;
  padding: 0;
}

.iconMedia-footer {
  width: 25px;
  height: auto;
  padding: 0;
}

.footer-derechos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-media {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.footer-media p {
  text-align: left;
  color: #9b9b9b;
  font-size: 14px;
  line-height: 2;
  margin: 0;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-menu a {
  color: white;
  text-decoration: none;
}

.footer-menu a:hover {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 2em; 
  }

  .footer-container {
    flex-direction: column; 
    align-items: left;
  }

  .footer-section {
    text-align: center; 
    margin-bottom: 1em;
  }

  .footer-data {
    align-items: left;
    text-align: left;
    font-size: 14px;
  }

  .footer-social-media {
    margin-top: 1em;
  }

  .footer-media p {
    font-size: 14px;
  }

  .iconMedia-footer {
    width: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-section {
    margin-bottom: 2em;
  }
}
